@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fraunces', serif;
}

#quote-box {
    background: #fff;
    height: auto;
    width: 40rem;
    margin: 10rem auto;
    padding: 3rem;
    border-radius: 15px;
}

#text {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

#quote-text {
    text-align: center;
    width: 525px;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.5em;
}

#quote-text > i {
    font-size: 1.1em;
    margin-right: 0.4em;
    position: relative;
    bottom: 10px;
}

#quote-text > #quote-right {
    font-size: 1.1em;
    margin-left: 0.4em;
}

#author {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    margin-top: 1em;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.social-media {
    display: flex;
}

.social-media > a {
    margin-right: .5rem;
    padding: .3rem .5rem;
    cursor: pointer;
    border-radius: 7px;
}

.social-media > a:hover {
    opacity: .7;
}

.social-media > a img {
    width: 1.5rem;
}

#new-quote {
    border: none;
    color: #fff;
    padding: .7rem 1rem;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}

#new-quote:hover {
    opacity: .7;
}

.fade {
    animation: fade-in-keyframes 1s;
  }
  @keyframes fade-in-keyframes {
    from {opacity: 0}
    to {opacity: 1}
  }

@media only screen and (max-width: 768px) {
    #quote-box {
        background: #fff;
        height: auto;
        width: 20rem;
        margin: 10rem auto;
        padding: 1.5rem;
        border-radius: 7.5px;
    }

    #text {
        font-size: 1rem;
        margin-bottom: 0.75rem;
        text-align: center;
    }
    
    #quote-text {
        text-align: center;
        width: 250px;
        height: auto;
        clear: both;
        font-weight: 250;
        font-size: 0.75em;
    }
    
    #quote-text > i {
        font-size: 0.6em;
        margin-right: 0.2em;
        position: relative;
        bottom: 8px;
    }
    
    #quote-text > #quote-right {
        font-size: 0.6em;
        margin-left: 0.2em;
    }
    
    #author {
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: flex-end;
        font-size: 0.6rem;
        margin-top: 0.5em;
    }
    
    #buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
    }
    
    .social-media {
        display: flex;
    }
    
    .social-media > a {
        margin-right: .25rem;
        padding: .15rem .25rem;
        cursor: pointer;
        border-radius: 3.5px;
    }
    
    .social-media > a img {
        width: 0.75rem;
    }
    
    #new-quote {
        border: none;
        color: #fff;
        padding: .35rem 0.5rem;
        font-size: .45rem;
        font-weight: bold;
        border-radius: 3.5px;
        outline: none;
        cursor: pointer;
    }
}
